@charset "utf-8";

/* ----------------------------------------

form

---------------------------------------- */
@media screen and (max-width:767px){
	#form {
		width: 100%;
	}
}

.tit01Sec {
	background: url(/files/img/inquiry/bg_tit_01.jpg) 0 0 repeat-x;
}


/* ----------------------------------------

conf

---------------------------------------- */
.txtSend {
	margin: 0 0 15px 40px;
	font-size: 124%;
	font-weight: 700;
}
.btnReturn {
	padding: 5px 10px 0 0;
}


/* ----------------------------------------

comp

---------------------------------------- */
#compTit {
	padding-top: 10px;
}
#compTxt {
	text-align: center;
	margin: 30px 0 80px;
}
.txt01 {
	font-size: 16px;
	margin-bottom:15px;
	line-height:1.5;
}
.txt02 {
	font-size: 14px;
	margin-bottom:30px
}

/* ----------------------------------------

- Table Style

---------------------------------------- */

/* tbl
------------------------------- */
.formTbl01{
	width: 720px;
}
.formTbl01.wide{
	width: 1000px;
	margin-bottom: 50px;
}
.formTbl01 table {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 30px;
	border: 7px solid #ffa500;
}
.formTbl01 table th,
.formTbl01 table td {
	padding: 13px 15px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	vertical-align: middle;
}
.formTbl01 table th {
	font-weight: 700;
	color: #4e4e4e;
	background-color: #fff;
	vertical-align: top;
	width: 25%;
}

/* noborder */
.tblNoBdr{ border: none !important;}
.tblNoBdr th,
.tblNoBdr td {
	border: none !important;
	vertical-align: top;
	background: #fff;
}
.tblNoBdr th { padding: 4px 15px 4px 0;}
.tblNoBdr td { padding: 4px 0;}
table .tblNoBdr th { padding-top: 6px;}
.formTbl01 table.tblNoBdr {margin-bottom: 0;}

/*  option and required  */
.formTbl01 table .required span.itemTag,
.formTbl01 table .option span.itemTag{
	padding: 2px 8px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-align: center;
	color: #fff;
	font-weight: 400;
	font-size: 85.8%;
	display: inline-block;
	line-height: 1.3;
	margin-left: 10px;
}
.formTbl01 table .option span.itemTag{ background: #a6a6a6;}
.formTbl01 table .required span.itemTag{ background: #ff6060;}
.formTbl01 table .option { background: #f5f5f5;}
.formTbl01 table .required { background: #fff0f0;}

/* innerTable */
.formTbl01 table th.inTH {
	vertical-align: middle;
	background-color: #fbfaf6;
} 
.formTbl01 table td li{
	float: left;
	margin-right: 10px;
}
.formTbl01 table td.name input{
	margin-right: 10px;
}
.formTbl01 table td.address select{
	display: block;
}

@media screen and (max-width:767px){
	.formTbl01{
		width: 100%;
	}
	.formTbl01.wide{
		width: 100%;
		margin-bottom: 15px;
	}
	.formTbl01 table th {
		width: auto;
	}
    .formTbl01 table th,
	.formTbl01 table td {
		display: block;
	}
	.formTbl01 table td li{
		float: none;
	}
	.formTbl01 table td.name li:first-child{
		margin-bottom: 10px;
	}
}

/* ----------------------------------------

- Form Style

---------------------------------------- */
.formTbl01 input.txt,
.formTbl01 textarea.txt {
	border: 1px solid #accad9;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 3px 4px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0px 3px 4px 0px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0px 3px 4px 0px rgba(0, 0, 0, 0.05);
}
.formTbl01 input.txt {
	padding: 5px 2px;
}
.formTbl01 input[type="text"]:focus,
.formTbl01 input[type="password"]:focus,
.formTbl01 textarea:focus {
	border: 1px solid #f19900;
	background: #fff5d6;
}

/* address
------------------------------- */
.address select{
	margin: 10px 0;
}
.address input.adSrcBtn{
	font-family: "ヒラギノ角ゴ Pro W6","HiraKakuProN-W6", "メイリオ", Meiryo;
	margin-left: 2px;
	font-size: 83.4%;
	border:none;
	background: #eaeaea;
	border-radius: 4px;
	padding: 3px 8px;
	cursor: pointer;
	box-shadow: 0 1px 0 #bbbaba;
	color: #262626;
}
.address input.adSrcBtn:hover{
	-webkit-box-shadow: 0 2px 0 #bbbaba;
	-moz-box-shadow: 0 2px 0 #bbbaba;
	box-shadow: 0 1px 0 #bbbaba;
	filter: alpha(opacity=65); /* IE lt 8 */  
	-ms-filter: "alpha(opacity=65)"; /* IE 8 */  
	-khtml-opacity: .65; /* Safari 1.x */  
	-moz-opacity: .65; /* FF lt 1.5, Netscape */
	opacity: .65; /* Standard: FF gt 1.5, Opera, Safari */
}

@media screen and (max-width:767px){
	.address input.adSrcBtn{
		font-family: "HiraKakuProN-W6", Meiryo!important;
	}
}

/* error
------------------------------- */
input.err,
textarea.err,
select.err {
	border: 1px solid #ff6060 !important;
	background: #fff0f0 !important;
}
input.err:focus,
textarea.err:focus {
	border: 1px solid #ee5959 !important;
}
.errorTxt {
	margin-top: 8px;
	font-size: 83.4%;
	color: #ff0000;
}

/* dl list
------------------------------- */
dl.list01 dt {
	float: left;
	clear: left;
	width: 8em; 
	padding-top: 0.5em;
}
dl.list01 dd {
	padding-left: 8.5em;
	margin-bottom: 8px;
}

dl.list02 dt {
	float: left;
	clear: left;
	width: 5em; 
	padding-top: 0.5em;
}
dl.list02 dd {
	padding-left: 5.5em;
	margin-bottom: 8px;
}

/* ----------------------------------------

- Button Style

---------------------------------------- */

/* btn
------------------------------- */
.formBtn01 {
	padding: 0.7em 1em;
	font-size: 128.6%;
	font-weight: 700;
	line-height: 1.2;
	border:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	background: #1ca7dc;
	color: #fff;
	padding : 10px 78px 10px 90px;
	background: #1ca7dc url(/files/img/common/ico_arrow_07.png) 70px 0.7em no-repeat;
	box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.2);
	letter-spacing: 0.1em;
}
input.formBtn01:hover {
	filter: alpha(opacity=65); /* IE lt 8 */  
	-ms-filter: "alpha(opacity=65)"; /* IE 8 */  
	-khtml-opacity: .65; /* Safari 1.x */  
	-moz-opacity: .65; /* FF lt 1.5, Netscape */
	opacity: .65; /* Standard: FF gt 1.5, Opera, Safari */
}
input.formBtn01:active {
	background: #ccc;
}

/* btn02 */
.formBtn02 {
	padding: 0.3em 0.8em;
	font-size: 120%;
	font-weight: 700;
	line-height: 1.2;
	border: 1px solid #a6a6a6;
	background: #e6e6e6 url(../img/form/bg_btn_01.png) repeat-x 0 center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}
input.formBtn02:hover {
	color: #a6a6a6;
	background: #fff;
	-webkit-box-shadow: inset 0 1px 3px #CCC, inset 0 0 #CCC, 0 0 0 #CCC;
	-moz-box-shadow: inset 0 1px 3px #CCC, inset 0 0 #CCC, 0 0 0 #CCC;
}
input.formBtn02:active {
	background: #ccc;
}
.formBtn03 {
	font-size: 128.6%;
	font-weight: 700;
	line-height: 1.2;
	border:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	background: #ff792f;
	color: #fff;
	padding : 16px 30px 16px 50px;
	background: #ff792f url(/files/img/common/ico_arrow_07.png) 30px 1.1em no-repeat;
	box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.2);
	font-family: "ヒラギノ角ゴ Pro W6","HiraKakuProN-W6", "メイリオ", Meiryo;
}
input.formBtn03:hover {
	filter: alpha(opacity=65); /* IE lt 8 */  
	-ms-filter: "alpha(opacity=65)"; /* IE 8 */  
	-khtml-opacity: .65; /* Safari 1.x */  
	-moz-opacity: .65; /* FF lt 1.5, Netscape */
	opacity: .65; /* Standard: FF gt 1.5, Opera, Safari */
}
input.formBtn03:active {
	background: #ccc;
}

@media screen and (max-width:767px){
	.formBtn03 {
		font-size: 114.3%;
		padding : 12px 20px 12px 40px;
		background: #ff792f url(/files/img/common/ico_arrow_07.png) 20px 0.8em no-repeat;
		font-family: "HiraKakuProN-W6", Meiryo!important;
	}
}


/* ----------------------------------------

- Text Style

---------------------------------------- */
.lead {
	margin-bottom: 20px;
}
.formTbl01 .note01 {
	margin-top: 5px;
	font-size: 83.4%;
	color: #715e5e;
	margin-left: 10px;
}
@media screen and (max-width:767px){
	.formTbl01 .note01 {
		margin-left: 0;
	}
}
/* flowStyle
------------------------------- */
.flow {
	width: 100%;
	margin-bottom: 25px;
	font-size: 13px;
	color: #262626;
}
.flow li {
	float: left;
	width: 33%;
	padding: 9px 0;
	background: #eaeaea url(/files/img/common/bg_flow.png) no-repeat right center;
	text-align: center;
	color: #888888;
}
.flow li.this {
	background: #32b0df url(/files/img/common/bg_flow_this.png) no-repeat right center;
	color: #fff;
}
.flow li.end {
	background-image: none;
}
.flow li.prev {
	background: #eaeaea url(/files/img/common/bg_flow_prev.png) no-repeat right center;
}
.flow li.comp {
	width: 34%;
	background-image: none;
}


@media screen and (max-width:767px){
	#flow {
		width: auto;
	}
    .flow {
		margin-bottom: 10px;
	}
	.flow li {
		box-sizing: border-box;
		text-align: center;
		padding: 0.5em 3% 0.5em 1%;
		line-height: 1.4;
	}
	.flow li:first-child {
	/*	padding-right: 0;*/
	/*	padding-left: 3%;*/
	}
	.flow li:last-child {
	/*	padding-right: 0;*/
		/*padding-left: 2%;*/
	}
	.spDisBlock {
	  display: block;
	}
}


/* ----------------------------------------

- exvalidation.css
フォームバリデーション用

---------------------------------------- */
th span.errMsg,
td span.errMsg {
	display: block;
	margin-left: 1em;
	padding-bottom: 1px;
	text-indent: -.9em;
	font-size: 83.4%;
	color: #f00;
}
#err_inqRadio .formErrorMsg {
	margin-top: -15px;
	text-align: center;
}
.formError {
	padding-bottom: 13px;
	display: block;
}
.fixed {
	padding-bottom: 0;
}
.formError .formErrorClose {
	border: solid #252525 2px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border-radius: 9px 9px 9px 9px;
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: -4px;
	right: -4px;
	color: #efefef;
	background: #333;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	-moz-box-shadow: 1px -1px 3px #888;
	-webkit-box-shadow: 1px -1px 3px #888;
	box-shadow: 1px -1px 3px #888;
  _z-index:2;
}
.formError .formErrorClose:hover {
	background: #666;
}
.fixed .formErrorClose {
	display: none;
}
.formError .formErrorContent {
  position:relative;
	color: #f00;
  _z-index:1;
}
.fixed .formErrorContent {
	margin-top: .5em;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.fadeOut {
	opacity: .2;
	filter: alpha(opacity=20);
}
.formError .formErrorArrow {
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: 0;
	left: 20px;
  _z-index:0;
}
.fixed .formErrorArrow {
	display: none;
}
.formError .formErrorArrowBottom {
	margin: -6px;
	top: 0;
}
.fixed .formErrorArrowBottom {
	display: none;
}
.formError .formErrorArrow div {
	margin: 0 auto;
	display: block;
	height: 1px;
	background: #252525;
	line-height: 0;
	font-size: 0;
	-moz-box-shadow: 0 2px 3px #888;
	-webkit-box-shadow: 0 2px 3px #888;
	box-shadow: 0 2px 3px #888;
}
	.formError .formErrorArrowBottom div{
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
.formError .formErrorArrow .line10 {
	width: 19px;
}
.formError .formErrorArrow .line9 {
	width: 17px;
}
.formError .formErrorArrow .line8 {
	width: 15px;
}
.formError .formErrorArrow .line7 {
	width: 13px;
}
.formError .formErrorArrow .line6 {
	width: 11px;
}
.formError .formErrorArrow .line5 {
	width: 9px;
}
.formError .formErrorArrow .line4 {
	width: 7px;
}
.formError .formErrorArrow .line3 {
	width: 5px;
}
.formError .formErrorArrow .line2 {
	width: 3px;
}
.formError .formErrorArrow .line1{
	width: 1px;
}

/* ----------------------------------------

clearfix

---------------------------------------- */

/* Modern Browsers
------------------------------- */
.formTbl01 table td:after,
.flow:after,
td ul.contactList01:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
	line-height: 0;
}

/* Legacy IE
------------------------------- */
.formTbl01 table td,
.flow,
td ul.contactList01 {
	*zoom: 1;
}